.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  
  .product-detail {
    margin-top: 20px;
  }
  
  .product-list {
    display: flex;
    margin-top: 20px;
    max-height: 35vh;
    overflow-y: auto;
    .item{
      margin: 10px;
        display: flex;
        justify-content: space-between;
    }
  }
  
  .product-list h2 {
    margin-bottom: 10px;
  }
  
  .product-list ul {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
  }
  .product-list ul:hover{
    background-color: #defadf;
    cursor: pointer;
  }
  .product-list li {
    padding: 10px;
  }
  
  .product-list a {
    margin: 10px;
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    height: 20px;
  }
  
  .product-list a:hover {
    background-color: #45a049;
  }
  .truncat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust the max-width value as needed */
  }

  .active {
    background-color: #4CAF50;
    color: #fff;
  }