.product{
    width: 75vw;
    max-height: calc(100vh - 50vh);
    h2{
        text-align: center;
    }
    .image img{
        // width: 20vw;
        max-width: calc(100vw - 80vw);
        margin: 0 auto;
        display: flex;
    }
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}